@import "bootstrap/dist/css/bootstrap.min.css";
@import "base.css";

.modal .modal-content {
  background-color: var(--neutral-900);
  color: var(--neutral-200);
  font-weight: 400;
  font-size: 14px;

  background-image: url("/assets/images/modal-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 16px 60px -5px #64789b33;
  border: 1px solid var(--neutral-800);
}
.modal .modal-header {
  border-bottom: 0px;
}
.modal .modal-footer {
  border-top: 0px;
}

.modal .btn-close {
  color: white !important;
  --bs-btn-close-bg: url("/assets/icons/X.svg");
  opacity: 1;
  font-size: 20px;
  border: 1px solid var(--neutral-800);
  background-color: var(--neutral-900);
  transition: 0.2s;
  margin-right: 5px;
  margin-top: 4px;
}
.modal .btn-close:hover {
  background-color: var(--neutral-800);
}

.modal-backdrop.show {
  background: #14181fb2;
  opacity: 1;
  backdrop-filter: blur(4px);
  z-index: 4;
}

.page-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  object-fit: cover;
  bottom: -250px;
}
